
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    color: white;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}


.banner{
    height: auto;
    width: 100%;
    background: black ;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.navbar-brand {
    font-size: 2rem;
    color: white!important;

}


.navbar ul li a {
    font-size: 1.5rem;
    color: white!important;

}



.container.info {
    padding-top: 150px;
    padding-bottom: 250px;

}

.container.info img {
    height: 16rem;
    padding-left: 100px;
    padding-top: 50px;
}

.card {
  height: 200px;
}

.icon a i {
    color: white;

}
.icon a i:hover {
    color: tomato!important;

}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


@media (max-width : 568px){
  
}